<div class="metric-container {{palette}}">
  <svg id="{{id}}" />
  <div class="metadata">
   {{#footer}}
     <div>
      <h3 class="{{classname}}">{{target}}</h3>
      <p><span>{{percentage}}</span>{{amount}}</p>
      </div>
    {{/footer}}
  </div>
</div>
